<div class="container my-4">
  <h2 class="mb-4">Gestión de Afiliados</h2>

  <!-- Formulario para crear o editar afiliado -->
  <app-formulario-afiliado
    [categoria1]="categoria1"
    [categoria2]="categoria2"
    [categoria3]="categoria3"
    [clubes]="clubes"
    (guardarAfiliado)="onGuardarAfiliado($event)"
    (editarCategorias)="onEditarCategorias($event)"
    (editarClubes)="onEditarClubes()"
  ></app-formulario-afiliado>

  <hr />

  <!-- Buscador -->
  <app-buscador-afiliados
    (buscarAfiliado)="onBuscarAfiliado($event)"
    (limpiarFiltro)="onBuscarAfiliado({})"
  ></app-buscador-afiliados>

  <hr />

  <!-- Listado de afiliados -->
  <app-listado-afiliados
    *ngIf="afiliados$ | async as afiliados"
    [afiliados]="afiliados"
    [categoria1]="categoria1"
    [categoria2]="categoria2"
    [categoria3]="categoria3"
    [clubes]="clubes"
    (eliminar)="onEliminarAfiliado($event)"
    (editar)="onEditarAfiliado($event)"
  >
  </app-listado-afiliados>
</div>
