<div class="container my-4">
  <h2 class="mb-4">Gestión de Afiliados</h2>

  <!-- Formulario para crear o editar afiliado -->
  <app-formulario-afiliado
    [categoria1]="categoria1"
    [categoria2]="categoria2"
    [categoria3]="categoria3"
    [clubes]="clubes"
    (guardarAfiliado)="onGuardarAfiliado($event)"
    (editarCategorias)="onEditarCategorias($event)"
    (editarClubes)="onEditarClubes()"
  ></app-formulario-afiliado>

  <hr />

  <!-- Buscador por DNI -->
  <app-buscador-afiliado
    (buscarDNI)="onBuscarPorDNI($event)"
    (limpiarFiltro)="onLimpiarFiltro()"
  ></app-buscador-afiliado>

  <hr />

  <!-- Listado de afiliados -->
  <app-listado-afiliados
  *ngIf="afiliados$ | async as afiliados"
  [afiliados]="afiliados"
  (eliminar)="onEliminarAfiliado($event)"
  (editar)="onEditarAfiliado($event)">
  </app-listado-afiliados>

</div>
