<div class="container my-4">
  <h2 class="mb-4">Gestión de Afiliados</h2>

  <app-formulario-afiliado
    [afiliadoParaEditar]="afiliadoParaEditar"
    [categoria1]="categoria1"
    [categoria2]="categoria2"
    [categoria3]="categoria3"
    [clubes]="clubesNombres" (guardarAfiliado)="onGuardarAfiliado($event)"
    (editarCategorias)="onEditarCategorias($event)"
    (editarClubes)="onEditarClubes()"
  ></app-formulario-afiliado>

  <hr />

  <app-buscador-afiliados
    (buscarAfiliado)="onBuscarAfiliado($event)"
    (limpiarFiltro)="onBuscarAfiliado({})"
  ></app-buscador-afiliados>

  <hr />

  <app-listado-afiliados
    *ngIf="afiliados$ | async as afiliados"
    [afiliados]="afiliados"
    [categoria1]="categoria1"
    [categoria2]="categoria2"
    [categoria3]="categoria3"
    [clubes]="clubesNombres" (eliminar)="onEliminarAfiliado($event)"
    (editar)="onEditarAfiliado($event)"
  >
  </app-listado-afiliados>
</div>